---
import AISection from '../components/AISection.astro';
import CommunitySection from '../components/CommunitySection.astro';
import GetStartedSection from '../components/GetStartedSection.astro';
import HeroSection from '../components/HeroSection.astro';
import SuiteSection from '../components/SuiteSection.astro';
import TrustedCompaniesSection from '../components/TrustedCompaniesSection.astro';
import Footer from '../components/Footer.astro';
import Layout from '../layouts/Layout.astro';
import TestimonialSection from '../components/TestimonialSection.astro';
import FeaturesSection from '../components/FeaturesSection.astro';
import Header from '../components/Header.astro';
import AccessibilityToolsSection from '../components/AccessibilityToolsSection.astro';
---

<Layout title="Stark: The suite of integrated accessibility tools for your product design and development team">
	<Header />

	<main>
		<HeroSection />
		<AISection />
		<TrustedCompaniesSection />
		<AccessibilityToolsSection />
		<SuiteSection />
		<CommunitySection />
		<TestimonialSection />
		<GetStartedSection />
		<FeaturesSection />
	</main>

	<Footer />
</Layout>
