---
import AISection from '../components/AISection.astro';
import HeroSection from '../components/HeroSection.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Stark: The suite of integrated accessibility tools for your product design and development team">
	<main>
		<HeroSection />
		<AISection />
	</main>
</Layout>

<style>
	
</style>
