---
import AISection from '../components/AISection.astro';
import CommunitySection from '../components/CommunitySection.astro';
import GetStartedSection from '../components/GetStartedSection.astro';
import HeroSection from '../components/HeroSection.astro';
import SuiteSection from '../components/SuiteSection.astro';
import TrustedCompaniesSection from '../components/TrustedCompaniesSection.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Stark: The suite of integrated accessibility tools for your product design and development team">
	<main>
		<HeroSection />
		<AISection />
		<TrustedCompaniesSection />
		<SuiteSection />
		<CommunitySection />
		<GetStartedSection />
	</main>
</Layout>
