.testimonialContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 2rem;
  height: 450px;
}

.testimonialContainer .infoProfile{
  order: 2;
  margin-top: 2rem;
}

.testimonialContainer .infoProfile img{
  width: 80px;
  border-radius: 50%;
}

.testimonialContainer .infoProfile p{
  color: var(--lightYellow);
  text-transform: uppercase;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  font-size: .9em;
}

.testimonialContainer .quote{
  order: 1;
}

.testimonialContainer .quote blockquote{
  color: var(--white);
  font-size: clamp(2em, 5vw, 3em);
  font-family: 800;
}

@media screen and (min-width: 840px) {
  .testimonialContainer{
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
    padding: 3rem;
    height: 364px;
  }

  .testimonialContainer .infoProfile{
    order: 1;
    margin-top: 0;
    width: 30%;
  }

  .testimonialContainer .infoProfile img{
    max-width: 150px;
    width: 150px;
    margin-bottom: 4rem;
  }
  
  .testimonialContainer .infoProfile p{
    margin-top: 0rem;
    font-size: 1em;
  }

  .testimonialContainer .quote{
    order: 2;
    width: 70%;
  }
}