---
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/public/assets/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	:root {
		--blue: #3A1FD3;
		--darkBlue: #10284B;
		--gray: #CBCBCD;
		--lightGray: #EDEDE0;
		--lightYellow: #F1CB6A;
		--white: #fff;
		--sky: #95D0C6;
		--pink: #F66C68;
		--purple: #9B90E2;
	}

	@font-face {
		font-family: 'ArminGrotesk';
		src: url('/public/fonts/armingrotesk-normal.otf') format('otf');
		font-weight: 600;
		font-style: normal;
	}

	@font-face {
		font-family: 'ArminGroteskBold';
		src: url('/public/fonts/armingrotesk-ultrabold.otf') format('otf');
		font-weight: 800;
		font-style: normal;
	}

	html {
		box-sizing: border-box;
	}

	*, *:before, *:after {
		box-sizing: inherit;
	}

	body {
		margin: 0;
		padding: 0;
		font-family: 'ArminGrotesk, ArminGroteskBold', sans-serif;
		font-weight: 600;
	}

	blockquote, figure, h1, h2, h3, h4, h5, h6, hr, p{
		margin: 0;
	}

	h1, h2, h3, h4, h5, h6{
		text-wrap: balance;
	}

	p{
		text-wrap: pretty;
	}

	img, video, svg{
		max-width: 100%;
		display: block;
		height: auto;
	}

	ul{
		list-style: none;
		padding: 0;
		margin: 0;
	}

	a{
		text-decoration: none;
	}
</style>
